

nav{
    background-color: #f4f4f4;
    padding: 20px;
    top: 106px;
    justify-content: space-around;

}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto; 
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    color: #4b4b4b;
}

footer h1 {
    text-align: center;
}


.donutpl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.donutplaces {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.donutplaces:hover{
    position: relative;
    top: -100px;
}

.homer {
    
    width: 40%;
    margin: 0 auto;
    border-radius: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: scaleX(-1)
} 


@media screen and (max-width: 1100px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;

    }
}




